{{#>page}}

<h2>Sports</h2>
<ol>
  <li><a href="/sports">Sport List</a></li>
  <li><a href="/sports/sprinting">Sport Details</a></li>
  <li><a href="/sports/sprinting/schedule">Sport Schedule</a></li>
  <li><a href="/sports/new">Create Sport</a></li>
</ol>

{{/page}}